@media only screen and (max-width : 991px) {
    .custom-step-progress{
        width: auto !important;
    }
}

.custom-color {
    background-color: #CCCCCC !important;
    color: white !important;
}

.height-height {
    margin-top: -10px;
}

.height-height-1 {
    margin-top: -20px;
}